.header {
  background-color: #F5F6FA;
  padding: 15px 35px;
  box-shadow: 0 1px 7px 0 rgba(204, 217, 234, 0.84);
}

.header .nav {
  display: flex;
  justify-content: space-between;
}

.header .nav .link {
  color: black;
}

.header .nav .link:hover {
  color: #5582f3;
}
