.postEditor{
    padding: 10px;
    margin: 35px;
    display: flex;
    flex-direction: column;
    input{
        padding: 8px 12px;
    }
    textarea{
        margin: 10px 0;
        padding: 8px 12px;
        resize: none;
        height: 120px;
    }
    .btn{
        .cancle{
            margin-right: 20px;
            background-color: white;
            color: black;
            border: 1px solid black;
        }
    }
}